{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <section>
        <div class="preloader">
            <div class="pulse">
                <div id='center'></div>
                <div id='left-cheek-ball-1'></div>
                <div id='left-cheek-ball-2'></div>
                <div id='left-cheek-ball-3'></div>
                <div id='right-cheek-ball-1'></div>
                <div id='right-cheek-ball-2'></div>
                <div id='right-cheek-ball-3'></div>
                <div id='left-ear'></div>
                <div id='left-ear-wax'></div>
                <div id='left-ear-plug'></div>
                <div id='right-ear'></div>
                <div id='right-ear-wax'></div>
                <div id='right-ear-plug'></div>
                <div id='top-hair'></div>
                <div id='top-hair-mask'></div>
                <div id='head'></div>
                <div id='cheeks'></div>
                <div id='receding-hairline-1'></div>
                <div id='receding-hairline-2'></div>
                <div id='receding-hairline-3'></div>
                <div id='receding-hairline-4'></div>
                <div id='left-eye-socket'></div>
                <div id='right-eye-socket'></div>
                <div id='mouth-socket'></div>
                <div id='right-eye'></div>
                <div id='right-numbers'>
                    <p>&nbsp;&nbsp;01</p>
                    <p>1001</p>
                    <p>1101</p>
                    <p>&nbsp;011</p>
                </div>
                <div id='left-eye'></div>
                <div id='left-numbers'>
                    <p>0101</p>
                    <p>0100</p>
                    <p>&nbsp;&nbsp;&nbsp;01</p>
                </div>
                <div id='hitler-mustache'></div>
                <div id='left-nose'></div>
                <div id='left-nose-shadow'></div>
                <div id='left-nose-hole'></div>
                <div id='right-nose'></div>
                <div id='right-nose-shadow'></div>
                <div id='right-nose-hole'></div>
                <div id='left-lip'></div>
                <div id='right-lip'></div>
                <div id='jay-leno-left'></div>
                <div id='jay-leno-right'></div>
                <div id='mouth'></div>
                <div id='tongue'></div>
                <div id='tongue-shadow'></div>
                <div id='jay-lenno-mask'></div>
            </div>
        </div>
        <div class="wrapper">
            <audio id="myAudio" src="/audio/audio.mp3" autoplay loop></audio>
            <div class="glass">
                <div class="content">
                    <div class="calculator">
                        <div class="calculator-top">
                            <span class="top-center-icon"></span>
                            {{#with data.time}}
                            <span id="clock" class="top-left">{{this}}</span>
                            {{/with}}
                            <span class="top-right-icon"></span>
                            <span class="indicator-white"></span>
                        </div>
                        <input type="text" class="screen"
                            placeholder="0" value id="output">
                        <div class="text">
                            <span>H</span>
                            <span>E</span>
                            <span>L</span>
                            <span>L</span>
                            <span>O</span>
                            <span>!</span>
                        </div>
                        <button class="symbol grey" onclick="calc.reset()">
                            <span class="icon1"></span>
                        </button>
                        <button class="symbol grey"
                            onclick="calc.toggleSign()">
                            <span class="icon2"></span>
                        </button>
                        <button class="symbol grey"
                            onclick="calc.calcPercent()">
                            <span class="icon3"></span>
                        </button>
                        <button class="symbol" onclick="calc.op('/')">
                            <span class="icon4"></span>
                        </button>
                        <button class="number" onclick="calc.add(7)">
                            <span class="num7"></span>
                        </button>
                        <button class="number" onclick="calc.add(8)">
                            <span class="num8"></span>
                        </button>
                        <button class="number" onclick="calc.add(9)">
                            <span class="num9"></span>
                        </button>
                        <button class="symbol" onclick="calc.op('*')">
                            <span class="icon5"></span>
                        </button>
                        <button class="number" onclick="calc.add(4)">
                            <span class="num4"></span>
                        </button>
                        <button class="number" onclick="calc.add(5)">
                            <span class="num5"></span>
                        </button>
                        <button class="number" onclick="calc.add(6)">
                            <span class="num6"></span>
                        </button>
                        <button class="symbol" onclick="calc.op('-')">
                            <span class="icon6"></span>
                        </button>
                        <button class="number" onclick="calc.add(1)">
                            <span class="num1"></span>
                        </button>
                        <button class="number" onclick="calc.add(2)">
                            <span class="num2"></span>
                        </button>
                        <button class="number" onclick="calc.add(3)">
                            <span class="num3"></span>
                        </button>
                        <button class="symbol" onclick="calc.op('+')">
                            <span class="icon7"></span>
                        </button>
                        <button class="number" onclick="calc.dot()">
                            <span class="icon10"></span>
                        </button>
                        <button class="number" onclick="calc.add(0)">
                            <span class="num0"></span>
                        </button>
                        <button class="number" onclick="calc.delete()">
                            <span class="icon9"></span>
                        </button>
                        <button class="symbol" onclick="calc.result()">
                            <span class="icon8"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{!
Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}